<!DOCTYPE html>
<html>
<head>
<style>
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

form {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 2rem;
}
</style>
</head>
<body>
<div class="center-form">
  <form action = "/api/job['id']}}/apply">
    <h4>Application Form </h4>
    <div class="mb-2">
      <label>Full Name</label><br>
      <input type="text" id="full_name" name="full_name" placeholder="Enter your full name">
    </div>
    <div class="mb-2">
      <label>Email</label><br>
      <input type="text" id="email" name="email" placeholder="Enter your email">
    </div>
    <div class="mb-2">
      <label>LinkedIn URL</label><br>
      <input type="text" id="linkedin_url" name="linkedin_url" placeholder="Enter your LinkedIn URL">
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>

